<footer class="bg-dark text-white">
	<!-- footer widget start -->
	<div class="container footer-widget-area">
		<div class="row">
			<div class="col-md-4 p-3">
				<div class="footer-widget-heading">
					<h4>food delivery</h4>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="footer-social-icon">
                                <div class="social-title">Follow us:</div>
                                <a href="#"><i class="fab fa-facebook-f circle-icon"></i></a>
                                <a href="#><i class="fab fa-instagram circle-icon"></i></a>
                                <a href="#"><i class="fab fa-twitter circle-icon"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in circle-icon"></i></a>
                            </div>
			</div>
			<div class="col-md-4 p-3">
				<div class="footer-widget-heading">
					<h4>Popular Posts</h4>
				</div>
				      <ul class="linkediting">
                        <li><a href="#"><i class="fa fa-angle-right"></i> Free Bootstrap 4 Templates</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Bootstrap Footer Templates</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Bootstrap Portfolio Themes</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Bootstrap Hero</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Bootstrap 4 Tutorial</a></li>
	                  </ul>
				</div>
			<div class="col-md-4 p-3">
				<div class="footer-widget-heading">
					<h4>Quick Links</h4>
				</div>
				<ul class="linkediting">
					<li><a href="{% url 'home' %}"><i class="fa fa-angle-right"></i> home </a></li>
					<li><a href="{% url 'about' %}"><i class="fa fa-angle-right"></i> About Us</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- footer widget end -->
    <hr>
    <!-- footer credit -->
	<div class="copyright-area">
		<div class="container">
			<div class="row">
			<div class="col-12 text-center">
				<p>جميع الحقوق محفوظة&copy; لأم جماجم   <span>2020</span> </p>
            </div>
			</div>
		</div>
	</div>
	<!-- footer credit end -->
</footer>